body {
  background-color: $background !important;
  overflow-x: hidden;
}

img {
  width: auto;
  max-width: 100%;
}

#hideAll {
  @include flex;
  @include flex-direction(column);
  @include flex-wrap(wrap);
  @include align-items(center);
  @include transition(opacity 1s, visibility 0s);
  @include transition-delay(0s, 1s);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  background-color: $background;
  line-height: 0;
  z-index: 199;

  .loader {
    width: 2em;
    height: 2em;
    border-top: .25em solid $color-primary;
    border-right: .25em solid $color-primary-darker;
    border-bottom: .25em solid $color-primary;
    border-left: .25em solid $color-primary-darker;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}

.container-fluid {
  padding: 0;
}

.row {
  justify-content: center;
}

.footer {
  margin-top: 2em;
  text-align: center;
}

.spacing {
  display: none;
  @media(min-width: $md) {
    display: inherit;
  }
}

.title {
  h1 {
    margin-top: 0;
    text-align: center;
  }
}
