
// ====== COLORS ====== //
$color-primary: #f6861f;
$color-primary-light: #ffb774;
$color-primary-lighter: #ffa24b;
$color-primary-dark: #cb6406;
$color-primary-darker: #a04d00;

$background: #fff;
$form-background: #fefefe;

$error-color: #b52b27;

// ====== TYPO COLORS ====== //
$header-color: #222;
$text-color: #444;
$text-color-dark: #333;

// ====== SIZES ====== //
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$border-radius: 5px;
$border-radius-big: 25px;

// ====== ANIMATION ====== //
$transition-duration: .3s;

// ====== FONT STYLES ====== //
$text-font: 'Roboto', sans-serif;
$header-font: 'Roboto', sans-serif;

// ====== SHADOWS ====== //
$inset-shadow: inset 0 0 0 25px $header-color;
