form {
  .tags {
    @include flex;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include align-items(flex-start);
    margin: 1em 0;

    .tag {
      margin: 0 .25em;
      border-radius: 25px;
      font-size: .9em;
      background-color: green;
      color: white;
      padding: .25em .5em;
    }
  }
}
