.carousel-arrows {
  position: fixed;
  top: 50%;
  z-index: 99;

  &#arrow-left {
    left: 0;
  }

  &#arrow-right {
    right: 0;
  }

  svg {
    width: 4em;
    height: 4em;
  }
}

.recipe-box:not(.slick-current) {
  @include transform(scale(.9));
}

.slick-current {
  @include box-shadow($box-shadow);
}

.recipe-box {
  @include transition(all $transition-duration);
  @include flex;
  @include flex-wrap(wrap);
  @include align-items(center);
  margin: .5em;
  justify-content: center;
  width: 100%;
  border: 1px solid $text-color;
  width: 100%;
  background-color: white;
  opacity: .95;
  border-radius: $border-radius;
  overflow: hidden;
  max-height: 87vh;
  @media(min-width: $md) {
    margin: 1em;
  }

  .img-container {
    @include flex;
    @include align-items(center);
    justify-content: center;
    width: 100%;
  }

  .button {
    @include transition(all $transition-duration);
    padding: .5em 1em;
    border: 2px solid $color-primary;
    border-radius: 25px;

    &:hover {
      border: 2px solid $color-primary-darker;
    }
  }

  h2 {
    font-size: 2em;
  }

  .recipe-title {
    flex-grow: 2;
    width: 100%;
    text-align: center;
    padding: 0 1em;
    @media(min-width: $md) {
      padding: 0 2em;
    }
  }

  .recipe-thumbanail {
    margin-bottom: 2em;
    border: 1px solid $text-color;
  }

  .recipe-info-container {
    @include flex;
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include align-items(stretch);
    width: 100%;
    padding: 1em;
    @media(min-width: $md) {
      padding: 2em;
    }

    .info-column {
      flex-grow: 1;
      width: 50%;
      margin: 0 .5em;
      @media(min-width: $md) {
        margin: 0 1em;
      }

      h3 {
        margin: 0;
      }

      .time-people-container {
        @include flex;
        @include flex-direction(column);
        @include flex-wrap(nowrap);
        margin-bottom: 2em;

        .time-people-block {
          @include flex;
          @include flex-direction(row);
          @include flex-wrap(nowrap);
          @include align-items(flex-start);

          h3 {
            margin: 0;
          }

          svg {
            align-self: center;
            margin-right: .7em;
          }
        }
      }

      ul {
        margin: 0;
        padding-left: 1em;
      }

      p {
        line-height: 1.2;
      }
    }
  }

  .expand-button {
    position: sticky;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 4;
    white-space: nowrap;
    @media(min-width: $md) {
      font-size: 1.2em;
    }
    color: $color-primary;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(0,0,0,.8));
    text-shadow: 1px 0 $color-primary-darker, 0 1px $color-primary-dark, 1px 0 $color-primary-dark, 0 -1px $color-primary-dark;
  }
}
