.recipe-box {
  width: 100%;
  margin: .5em;
  padding: 1em;
  border: 1px solid black;
  @include flex;
  @include flex-direction(column);
  @include flex-wrap(wrap);
  @include align-items(center);
  justify-content: center;
  width: 100%;

  .recipe-head {
    @include flex;
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include align-items(center);
    justify-content: space-between;
    width: 100%;

    div {
      @include flex;
      @include flex-direction(row);
      @include flex-wrap(nowrap);
      flex-grow: 0;

      svg {
        align-self: center;
      }
    }

    .recipe-title {
      flex-grow: 2;
      width: 100%;
      text-align: center;
    }
  }

  .recipe-thumbanail {
    border: 1px solid black;
  }

  .recipe-info-container {
    @include flex;
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include align-items(stretch);

    .info-column {
      flex-grow: 1;
      width: 50%;

      p {
        line-height: 1.2;
      }
    }
  }
}
